body {background-color: lightblue;
    font-family: "Jersey 10";

    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}


a {color: rgb(181, 102, 12);}
h1{color: navy;}

title {font-size: xx-large;
color: navy ;}
